---

---

<section
  class="flex flex-col sm:grid sm:grid-cols-2 lg:grid-cols-3 justify-items-center gap-2 sm:gap-8 w-full p-1 sm:p-4 pb-15"
>
  <div class="bg-red-300 h-[150px] w-full max-w-[350px] sm:max-w-[370px] lg:max-w-[400px]">
    <div class="text-center p-5 font-display">
      <a href="https://santhilarilink.vercel.app/" target="_blank" class="text-3xl lg:text-4xl"
        ><span class="font-semibold text-slate-800">SantHilari/</span><span
          class="text-emerald-500 font-semibold">Link</span
        >
      </a>
      <p class="text-lg lg:text-xl">Portafoli digital <br /> de creació web</p>
    </div>
  </div>
  <div class="bg-blue-300 h-[150px] w-full max-w-[350px] sm:max-w-[370px] lg:max-w-[400px]">
    <div class="text-center p-5 font-display">
      <h2 class="text-4xl lg:text-5xl">LA FONT</h2>
      <p class="text-lg lg:text-xl">Portal de lletres lliures <br /> notes i opinió.</p>
    </div>
  </div>
  <div class="bg-green-300 h-[150px] w-full max-w-[350px] sm:max-w-[370px] lg:max-w-[400px]">
    <div class="text-center p-5 font-display">
      <a href="https://santhilarilink.vercel.app/" target="_blank" class="text-3xl lg:text-4xl"
        ><span class="font-semibold text-slate-800">SantHilari/</span><span
          class="text-white font-semibold">Link</span
        >
      </a>
      <p class="text-lg lg:text-xl">Portafoli digital <br /> de creació web</p>
    </div>
  </div>
</section>
