---

---

<section
  class="flex flex-col sm:flex-row justify-center items-center gap-5 sm:gap-8 w-full p-4 pb-15"
>
  <div class="bg-red-300 h-[150px] w-[350px] sm:w-[370px]">
    <div class="text-center p-5 rozha">
      <a href="/" class="text-4xl"
        ><span class="font-semibold text-slate-800">SantHilari/</span><span
          class="text-emerald-500 font-semibold">Link</span
        >
      </a>
      <p class="text-xl">Portafoli digital <br /> de creació web</p>
    </div>
  </div>
  <div class="bg-blue-300 h-[150px] w-[350px] sm:w-[370px]">
    <div class="text-center p-5 rozha">
      <h2 class="text-5xl">LA FONT</h2>
      <p class="text-xl">Portal de lletres lliures <br /> notes i opinió.</p>
    </div>
  </div>
  <div class="bg-green-300 h-[150px] w-[350px] sm:w-[370px]">
    <div class="text-center p-5 rozha">
      <a href="/" class="text-4xl"
        ><span class="font-semibold text-slate-800">SantHilari/</span><span
          class="text-white font-semibold">Link</span
        >
      </a>
      <p class="text-xl">Portafoli digital <br /> de creació web</p>
    </div>
  </div>
</section>
