<section class="flex flex-col sm:flex-row mx-auto sm:h-[150px]  xl:mx-20 xl:h-[200px]">
  <div
    class="container text-7xl sm:w-[60%] xl:text-[150px] sm:text-[100px] font-bold text-center items-center border-t-2 sm:border-b-2 sm:border-t-2 sm:border-r-2 border-black p-2"
  >
    La Font
  </div>
  <div class="container sm:w-[40%] sm:border-b-2 sm:border-t-2 border-black p-4">fechas de las ediciones </div>
</section>
