---

---

<section
  class="flex flex-col sm:flex-row mx-auto sm:h-[150px] lg:mx-20 lg:h-[270px]"
>
  <div
    class="container flex justify-center text-7xl sm:w-[60%] items-center border-t-2 sm:border-b-2 sm:border-t-2 sm:border-r-2 border-black p-2"
  >
    <h1
      class="xl:text-[200px] text-7xl lg:text-[150px] font-bold text-center rozha"
    >
      La Font
    </h1>
  </div>
  <div
    class="container sm:w-[40%] sm:border-b-2 sm:border-t-2 border-black p-0 items-center flex"
  >
    <div class="p-5 text-center sm:text-justify">
      <p class="text-[13px] lg:text-[20px]">
        El Portal La Font recull diversos articles amb inclinació literària i
        d'opinió; s'hi escriu amb llibertat absoluta. La Font està inspirada en
        les fonts del nostre municipi com a metàfora de font d'inspiració.
        Fundada el 2025.
      </p>
    </div>
  </div>
</section>
