<section class="flex flex-col sm:flex-row mx-auto sm:h-[150px]  lg:mx-20 lg:h-[270px]">
  <div
  class="container flex justify-center text-7xl sm:w-[60%]  items-center border-t-2 sm:border-b-2 sm:border-t-2 sm:border-r-2 border-black p-2"
>
 <h1 class="xl:text-[200px] text-7xl sm:text-[100px] font-bold text-center rozha"> La Font</h1>
</div>
  <div class="container sm:w-[40%] sm:border-b-2 sm:border-t-2 border-black p-4">fechas de las ediciones </div>
</section>
