<section class="flex flex-row m-20 mt-0 ">
  <div
    class="container w-[60%] text-[150px] font-bold text-center border-b-3 border-t-3 border-r-3 border-black p-2"
  >
    La Font
  </div>
  <div class="container w-[40%] border-b-3 border-t-3 border-black p-4">fechas de las ediciones </div>
</section>
