---
const menuitems = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Noticias",
    path: "/articulos",
  },
  {
    title: "contacto",
    path: "/",
  },
];
---

<div class="flex flex-row font-semibold text-xl">
  <ul class="flex space-x-6">
    {menuitems.map((item) => (
      <li>
        <a href={item.path}>{item.title}</a>
      </li>
    ))}
  </ul>
</div>
